div {
    font-family:
    font-style:normal;
    font-size: 20px;
    line-height: 32px;
    line-height: 100%;
    color:black;
    padding: 1em;
    margin: 0;
  }

  .higher-button {
    font-family:
    font-style:normal;
    font-size: 20px;
    line-height: 32px;
    line-height: 100%;
    color:rgb(11, 145, 18);
    padding: 1em;
    margin: 0;
  }

  .lower-button {
    font-family:
    font-style:normal;
    font-size: 20px;
    line-height: 32px;
    line-height: 100%;
    color:rgb(100, 20, 0);
    padding: 1em;
    margin: 0;
  }