nav {
    background-color: rgb(255, 255, 255);
    padding: .5em;
    top: 0;
    position: sticky;
  }
  
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly; 
  }
  
nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: .5em 1em;
    font-family: 'Courier New', Courier, monospace;
    font-size:xx-large;
  }

  @media all and (max-height: 500px) {
    p {
      font-style: italic;
    }
  }

  p {
    font-family: 'Courier New', Courier, monospace;
    text-align:center;
  }

  .logo {
    font-size: 500%;
    font-family: 'Courier New', Courier, monospace;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
    text-align: center;
  }

  p2 {
    margin-top: 200px;
  }

img {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.photos {
  list-style:none;
  margin-left:375px;
  margin-right: 375px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1px;
}

